
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#persona {
    width: 592px;
    margin: 0px auto 72px;
    }

#persona img{
    margin-bottom: 72px;
}

h1 {
    font-family: 'Inter',sans-serif;
    font-size: 40px;
    line-height: 56px;
    font-weight: normal;
    
    }

h1 span {
    margin-bottom: 32px;
    font-weight: bold;
}
 

span, a {
    color: #FF9900
}


p {
    color: #7D7987
    
}

#footer a + a{
    margin-left: 34px;
}

#line {
    width: 568px;
    height: 0px;
    border: 1px red solid;
}