h1 {
    font-family: 'Inter',sans-serif;
    font-size: 40px;
    line-height: 56px;
    font-weight: normal;
    
    }

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#persona {
    width: 592px;
    margin: auto;
    }

h1 span {
    
    font-weight: bold;
}


span, a {
    color: #FF9900
}


p {
    color: #7D7987

}